.root {
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.root time {
    color: inherit;
}

.info {
    flex-grow: 1;
    text-align: center;
}

.controls {

}