.af-button {
    display: inline-block;
    padding: .84615em 1.3em;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.3em;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    height: auto;
    min-height: 3.15385em;
    -webkit-transition: all .3s cubic-bezier(.6,0,0,1);
    transition: all .3s cubic-bezier(.6,0,0,1);
    border: 1px solid transparent;
    position: relative;

    &-dark {
        background-color: #000;
        border-color: #000;
        color: #fff;
    }

    &-light {
        border-color: currentColor;
        color: #000;
        background-color: #fff;
    }
}

.af-call-to-action {
    @include button();
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto Condensed",sans-serif !important;
    border: 0 !important;
    font-weight: 400 !important;
    border-radius: 3px !important;
    padding: 5px 30px !important;
    margin: 0 !important;
    &-dark {
        background-color: #000;
        border-color: #000;
        color: #fff!important;
    }

    &-light {
        border-color: currentColor;
        color: #000;
        background-color: #fff;
    }
}