@import "../dc-accelerators/renders/image/sass/all.scss";

.amp-dc-image-holder{
  position: relative;
    width: auto;
}

.amp-ca-image-actions {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;

    .amp-ca-spot {
        position: absolute;
        cursor: pointer;
        line-height: initial;
    }

    .amp-ca-poly {
        position: absolute;
        cursor: pointer;
    }

    .amp-ca-image-actions {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }

    .amp-ca-spot-btn {
        border: 2px solid #ffffff;
        background: #000000;
        -webkit-border-radius: 16;
        -moz-border-radius: 16;
        -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.75);
        border-radius: 16px;
        border-color: #ffffff;
        font-family: "Hoefler Text", "Baskerville Old Face", Garamond, "Times New Roman", serif;
        font-size: 18px;
        font-style: italic;
        font-variant: normal;
        font-weight: bold;
        color: #ffffff;
        padding: 5px 10px 5px 10px !important;
        text-decoration: none;
        opacity: 1;
        position: absolute;
        left: -8px;
        top: -8px;

        &:hover {
            background: #000000;
            border: 2px solid #b01c4d;
            color: #b01c4d;
            text-decoration: none;
            opacity: 1;
            font-size: 18px;
        }
    }

    .tooltip-toggle {
        cursor: pointer;
        position: relative;
    }

    .tooltip-toggle::before {
        position: absolute;
        top: -60px;
        left: -80px;
        background-color: white;
        border-radius: 5px;
        color: #000;
        content: attr(data-tooltip);
        padding: 1rem;
        text-transform: none;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: 160px;
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
    }

    .tooltip-toggle::before,
    .tooltip-toggle::after {
        color: #000000;
        font-size: 16px;
        opacity: 0;
        pointer-events: none;
        text-align: center;
    }

    .tooltip-toggle:hover::before,
    .tooltip-toggle:hover::after {
        opacity: 1;
        -webkit-transition: all 0.75s ease;
        transition: all 0.75s ease;
    }
}