.search {
  background-color: inherit;
  margin: 0 auto;
  display: flex;
  height: 100%;
  padding: 0;
  flex-wrap: none;
  list-style: none;
  border: 0;
  border-left: 1px solid $textColor;
  position: relative;
  display: block;
  z-index: 1000;
  &__icon {
    position: absolute;
    right: 15px;
    width: 14px;
    fill: #999;
    top: 4px;
    top: 50%;
    transform: translateY(-50%);
  }
  &__input {
    width: 170px;
    height: 100%;
    padding-left: 15px;
    padding-right: 40px;
    border: 0;
    outline: none;
    background-color: inherit;
    color: white;
  }
  &__input::placeholder {
    color: #999;
  }
  &__input:focus {
    background-color: white;
    color: #333;
    outline: none;
  }
  &__results {
    position: absolute;
    padding: 0 10px 10px 10px;
    //top: 30px;
    right: -10px;
    z-index: 1000;
    display: none;
    overflow: hidden;
   
    &__container {
      padding: 20px 0;
      background-color: white;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      
    }
    &--active {
      display: inherit;
    }

    &__listing {
      color: #888;
      ul,
      li {
        list-style: none;        
        padding: 0;
        span {
          margin-right: 5px;
        }
      }

      &__result,
      &__term {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      &__result {
        text-transform: uppercase;
        color: #333;
      }

      &__term {
        max-width: 100%;
        .search__results__listing__price {
          font-size: 0.7em;
          font-weight: bold;
          color: #777777;
        }
      }

      &__count,
      &__term {
        flex-shrink: 0;
      }

      &__heading {
        text-transform: uppercase;
        margin: 10px 0 10px 20px;
        font-size: 16px;
        font-weight: 600;
        color: $offblack;
      }
      &__icon {
        flex-shrink: 0;
        display: inline-block;
        width: 12px;
        fill: #888;
        margin: 2px;
        margin-top: 0;
        margin-left: 10px;
      }
    }
    &__section {
      a {
        display: flex;
        min-width: 0;
        &:hover {
          color: inherit;
        }
      }
      li {
        display: flex;
        align-items: center;
        min-width: 0;
        padding: 0 20px;
        cursor: pointer;
        &:hover {
          background: #eee;
        }
      }
    }
  }
}

.search__results__listing__list {
  display: flex;
  list-style-type: none;
  @media (max-width: 750px) {
    flex-direction: column;
  }
}

.ais-Breadcrumb-list,
.ais-CurrentRefinements-list,
.ais-HierarchicalMenu-list,
.ais-Hits-list,
.ais-InfiniteHits-list,
.ais-InfiniteResults-list,
.ais-Menu-list,
.ais-NumericMenu-list,
.ais-Pagination-list,
.ais-RatingMenu-list,
.ais-RefinementList-list,
.ais-Results-list,
.ais-ToggleRefinement-list {
  margin: 0;
  padding: 0;
  list-style: none
}

.ais-ClearRefinements-button,
.ais-CurrentRefinements-delete,
.ais-CurrentRefinements-reset,
.ais-GeoSearch-redo,
.ais-GeoSearch-reset,
.ais-HierarchicalMenu-showMore,
.ais-InfiniteHits-loadMore,
.ais-InfiniteHits-loadPrevious,
.ais-InfiniteResults-loadMore,
.ais-Menu-showMore,
.ais-RangeInput-submit,
.ais-RefinementList-showMore,
.ais-SearchBox-reset,
.ais-SearchBox-submit,
.ais-VoiceSearch-button {
  padding: 0;
  overflow: visible;
  font: inherit;
  line-height: normal;
  color: inherit;
  background: none;
  border: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.ais-ClearRefinements-button::-moz-focus-inner,
.ais-CurrentRefinements-delete::-moz-focus-inner,
.ais-CurrentRefinements-reset::-moz-focus-inner,
.ais-GeoSearch-redo::-moz-focus-inner,
.ais-GeoSearch-reset::-moz-focus-inner,
.ais-HierarchicalMenu-showMore::-moz-focus-inner,
.ais-InfiniteHits-loadMore::-moz-focus-inner,
.ais-InfiniteHits-loadPrevious::-moz-focus-inner,
.ais-InfiniteResults-loadMore::-moz-focus-inner,
.ais-Menu-showMore::-moz-focus-inner,
.ais-RangeInput-submit::-moz-focus-inner,
.ais-RefinementList-showMore::-moz-focus-inner,
.ais-SearchBox-reset::-moz-focus-inner,
.ais-SearchBox-submit::-moz-focus-inner,
.ais-VoiceSearch-button::-moz-focus-inner {
  padding: 0;
  border: 0
}

.ais-ClearRefinements-button[disabled],
.ais-CurrentRefinements-delete[disabled],
.ais-CurrentRefinements-reset[disabled],
.ais-GeoSearch-redo[disabled],
.ais-GeoSearch-reset[disabled],
.ais-HierarchicalMenu-showMore[disabled],
.ais-InfiniteHits-loadMore[disabled],
.ais-InfiniteHits-loadPrevious[disabled],
.ais-InfiniteResults-loadMore[disabled],
.ais-Menu-showMore[disabled],
.ais-RangeInput-submit[disabled],
.ais-RefinementList-showMore[disabled],
.ais-SearchBox-reset[disabled],
.ais-SearchBox-submit[disabled],
.ais-VoiceSearch-button[disabled] {
  cursor: default
}

.ais-Breadcrumb-item,
.ais-Breadcrumb-list,
.ais-Pagination-list,
.ais-PoweredBy,
.ais-RangeInput-form,
.ais-RatingMenu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.ais-GeoSearch,
.ais-GeoSearch-map {
  height: 100%
}

.ais-HierarchicalMenu-list .ais-HierarchicalMenu-list {
  margin-left: 1em
}

.ais-PoweredBy-logo {
  display: block;
  height: 1.2em;
  width: auto
}

.ais-RatingMenu-starIcon {
  display: block;
  width: 20px;
  height: 20px
}

.ais-SearchBox-input::-ms-clear,
.ais-SearchBox-input::-ms-reveal {
  display: none;
  width: 0;
  height: 0
}

.ais-SearchBox-input::-webkit-search-cancel-button,
.ais-SearchBox-input::-webkit-search-decoration,
.ais-SearchBox-input::-webkit-search-results-button,
.ais-SearchBox-input::-webkit-search-results-decoration {
  display: none
}

.ais-RangeSlider .rheostat {
  overflow: visible;
  margin-top: 40px;
  margin-bottom: 40px
}

.ais-RangeSlider .rheostat-background {
  height: 6px;
  top: 0;
  width: 100%
}

.ais-RangeSlider .rheostat-handle {
  margin-left: -12px;
  top: -7px
}

.ais-RangeSlider .rheostat-background {
  position: relative;
  background-color: #fff;
  border: 1px solid #aaa
}

.ais-RangeSlider .rheostat-progress {
  position: absolute;
  top: 1px;
  height: 4px;
  background-color: #333
}

.rheostat-handle {
  position: relative;
  z-index: 1;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 50%;
  cursor: -webkit-grab;
  cursor: grab
}

.rheostat-marker {
  margin-left: -1px;
  position: absolute;
  width: 1px;
  height: 5px;
  background-color: #aaa
}

.rheostat-marker--large {
  height: 9px
}

.rheostat-value {
  padding-top: 15px
}

.rheostat-tooltip,
.rheostat-value {
  margin-left: 50%;
  position: absolute;
  text-align: center;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

.rheostat-tooltip {
  top: -22px
}