@import "../dc-accelerators/renders/slider/sass/all.scss";

.amp-dc-slider {
  .amp-dc-dots {
    user-select: none;
    margin: 10px 0 0 0;
    padding: 0;
    text-align: center;
    position: absolute;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    > li {
      border: 1px solid #666;
      border-radius: 50%;
      box-shadow: inset 1px 1px 1px #888;
      display: inline-block;
      height: 25px;
      width: 25px;
      margin: 0 5px;
      cursor: pointer;
      &.active {
        background-color: #000000;
      }
    }
  }
  .amp-dc-slider-frame {
    padding-bottom: 0;
  }
  .amp-dc-slider-slides > li {
    vertical-align: top;
  }

  .amp-dc-slider-next, .amp-dc-slider-prev {
    svg {
      background: rgba(0, 0, 0, 1);
    }
  }
}
