.root {
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.root time {
    color: inherit;
}

.info {
    flex-grow: 1;
}

.controls {
    display: flex;
    flex-direction: row;
    gap: 12px;
}