.button-spec {
  ul {
    li {
      padding: 5px;
    }
  }
  &__footer-link {
    line-height: 25px;
    font-size: 13px;
    font-family: "Roboto Condensed",sans-serif;
    color: #666;
    &:hover {
      color: #666;
    }
  }
  &__blog-link {
    font-family: "Roboto Condensed",sans-serif;
    border: 1px solid #999;
    padding: 2px 30px;
    font-size: 18px;
    text-align: center;
    &:hover {
      color: #fff;
      background-color: #000;
      border: 1px solid #000;
    }
  }
  &__mega-menu-link {
    font-family: inherit;
    font-size: 12px;
    text-decoration: none;
    line-height: 25px;
    color: #666;
    &:hover {
      color: #666;
    }
  }
  &__dialog-button {
    display: inline-block;
    padding: .84615em 1.3em;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.3em;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    font-family: "Roboto Condensed",sans-serif !important;
    border: 0 !important;
    font-weight: 400 !important;
    border-radius: 3px !important;
    padding: 5px 30px !important;
    cursor: pointer;
    height: auto;
    min-height: 3.15385em;
    -webkit-transition: all .3s cubic-bezier(.6,0,0,1);
    transition: all .3s cubic-bezier(.6,0,0,1);
    border: 1px solid transparent;
    &--dark {
      background-color: #000;
      border-color: #000;
      color: #fff!important;
    }
    &--light {
      border-color: currentColor;
      color: #000;
      background-color: #fff; 
    }
  }
}