/* _____ VARIABLES _____ */

$white: #ffffff;

$lightestgreyplus: #f8f8f8;
$lightestgrey: #f5f5f5;
$lightergrey: #eee;
$lightgrey: #ebeced;
$defaultgrey: #bebebe;
$darkgrey: #929292;
$darkgreymedium: #7d7e7f;
$darkergrey: #6d6e6f;
$darkestgrey: #3c3c3c;
$maxdarkgrey: #202122;
$grey-border: #d5d5d5;

$black: #000000;
$offblack: #333333;
$modal-content-bg: #fff;
$defaultblue: #0068b3;
$lightblue: #0079ff;
$modal-backdrop-opacity: 65;

$defaultgreen: #3ab85d;

$brightred: #f1291e;
$defaultred: #e63c19;
$errorred: #f97777;

$lightyellow: #ffffcc;

// COMPONENTS
// ==========================================================================

/* TOPLEVEL BAR */
$topNavigationHeight: 75px;

/*Z-INDEX SCALE*/
// --------------------------------------------------
$zIndex-1: 100;
$zIndex-2: 200;
$zIndex-3: 300;
$zIndex-4: 400;
$zIndex-5: 500;
$zIndex-6: 600;
$zIndex-7: 700;
$zIndex-8: 800;
$zIndex-9: 900;
$zIndex-10: 1000;
$zIndex-100: 10000;

$font-family-serif: 'serif';
$brand-primary: $defaultblue;
$gray-dark: $darkgrey;
$gray-base: $defaultgrey;

$breakpoint-tablet: 768px;
$breakpoint-mobile: 400px;

//md-breakpoints
$breakpoint-sm: 960px;

//Willow
$textColor: #666;
$primaryGrey: #231f20;

$content-width: 1400px;
